$main-theme: #228891;
$border-color: #e5e5e5;
$place-holder: #a3a3a3;
body {
  color: #25262b;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
  // height: 100%;
}
html {
  // height: 100%;
  padding: 0;
  margin: 0;
}
div {
  align-items: center;
}
* {
  box-sizing: border-box;
}
ul {
  list-style: none;

  padding: 0;
  margin: 0;
}
li,
a {
  text-decoration: none;
  color: black;
  &:hover {
    color: grey;
    text-decoration: none;
  }
}
.main-wrapper {
  display: block;
  padding-top: 50px;
}
.container {
  height: 100%;
}
.row {
  height: 100%;
}
.card {
  justify-content: center;
  align-items: center;
}
.ej-input {
  outline: none;
  width: 100%;
  height: 50px;
  border: 1px solid $border-color;
  &:focus {
    border: 1px solid $main-theme !important;
  }
}
