body {
  color: #25262b;
  font-family: "Open Sans", sans-serif;
  background: #eeefef;
  font-weight: 400;
}

.main-wrapper {
  display: block;
  padding-top: 175px;
}
.container {
  min-width: 100%;
  padding: 15px;
}
.card {
  padding: 15px;
  // width: 400px;
}
