.footer-wrapper {
  // position: absolute;
  // bottom: 0;
  // left: 0;
  // right: 0;
  width: 100%;
  // min-height: 182px;
  background: #e0e0e0;
  border-top: 1px solid #c3c5c6;
  margin-top: 15px;
  .row-footer__menu {
    border-bottom: 1px solid #c3c5c6;
    .footer__menu {
      list-style-type: none;
      display: flex;
      margin-bottom: 0;
      padding: 0;
      li {
        padding: 0;
      }
      span {
        padding: 0 10px;
      }
    }
    .footer-tab__menu {
      padding: 15px;
    }
  }
}
