@import "../../_scss/style.scss";
footer {
  border-top: 1px solid rgba(0, 0, 0, 0.05);

  .footer_content {
    padding-top: 30px;
    padding-bottom: 30px;
    .logo_container {
      .logo {
        font-size: 2.1rem;
        color: $main-theme;
        font-weight: bold;
        cursor: pointer;
      }
      .footer_social {
        margin-top: 15px;
        ul {
          display: flex;
          li {
            margin-right: 10px;
            i {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
  .footer_bot {
    background-color: #fafafa;
    padding-left: 15px;
    height: 50px;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }
}
