@import "../../../_scss/style";
.container__register {
  .title {
    text-align: center;
    margin-bottom: 30px;
  }
  .register-card {
    padding: 30px;
    margin: auto;
    width: 500px;
    .register-form-size {
      width: 100%;

      .form-group {
        .value-text {
          display: flex;
          flex-direction: column;
          label {
            margin-right: auto;
          }
        }

        .msg-sec {
          font-size: 0.8rem;
          margin-top: 15px;
          display: block;
          text-align: right;
          .error-msg {
            color: red;
          }
          .success-msg {
            color: green;
          }
        }
      }
      .bottom-btn {
        button {
          width: 120px;
        }
      }
      .agree-Terms {
        display: flex;
        flex-direction: column;
      }
      .server-error-msg {
        margin-top: 20px;
        font-size: 0.8rem;
      }
    }
  }
}
